h1 {
  font-weight: bold;
  font-size: xxx-large;
}
p {
  font-weight: 500;
  font-size: small;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 2%;
  padding: 5%;
}
span {
  color: rgb(235, 59, 59);
}
section {
  display: flex;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
 

}
.self-image2{

position: absolute;
width: 1500px;
height:500px;
left: 0%;
top: 0%;

background: rgba(229, 84, 115, 0.1);
}
.self-image3{
  background: rgba(229, 84, 115, 0.1);
 
  }

.half-text-section{
    width: 100%;
    padding: 70px;
    padding-left: 90px;
}
.half-text-section1{
  width: 100%;
  padding: 40px;
  padding-left: 100px;
}

.self-image {
  width: 400px;
  height: 490px;
  
  margin-top: 20px;
}
.flower-image {
  width: 200px;
  height: 290px;
  margin-top: 20px;
  padding-right: 150px;
}
.banner {
 padding-right:90px;
}

.second-section {
  text-align: center;
 
}
.second-section h1,
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}
.button-position{
  text-align: center;
}
.deals{
  text-align: center;
}
.deals1
{
 
  text-align: center;
}
.my-mission {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.demo-flower {
  width: 33.33%;
  margin: 5% 1%;
  
  padding-bottom: 0%;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  background-image: url("Flower asset/pngwing 6.png");
  background-color: rgb(226, 183, 216);
  background-repeat: no-repeat;
  background-position: bottom;
}
.inst-flower{
  
 
  width:25%;
  margin: 5% 1%;
  padding: 1% 1%;
  text-align: left;
  
  border-radius: 5%;
  
}
.inst-flower-new{
  width: 25%;
  margin: 5% 1%;
  
  padding-bottom: 0%;

  
  
  background-repeat: no-repeat;
  background-position: bottom;
}
.inst-flower-new1{
  width: 25%;
  margin: 5% 1%;
  
  padding-bottom: 0%;

 
  
  background-repeat: no-repeat;
  background-position: bottom;
}
.inst-flower-new2{
  width: 25%;
  margin: 5% 1%;
  
  padding-bottom: 0%;

 
  
  background-repeat: no-repeat;
  background-position: bottom;
}
.inst-flower-new3{
  width: 25%;
  margin: 5% 1%;
  
  padding-bottom: 0%;

  background-repeat: no-repeat;
  background-position: bottom;
}
.instr-border{
  margin:0%;
}
.demo-flower1 {
  width: 33.33%;
  margin: 5% 1%;
  
  padding-bottom: 0%;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  background-color: rgb(178, 230, 242);
  background-image: url("Flower asset/pngwing 5.png");
 
  background-repeat: no-repeat;
  background-position: bottom;

}
.demo-flower2 {
  width: 33.33%;
  margin: 5% 1%;
  
  padding-bottom: 0%;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  background-color: rgb(204, 244, 169);
  background-image: url("Flower asset/pngwing 7.png");
 
  background-repeat: no-repeat;
  background-position: bottom;


 
}

.my-goals img {
  width: 100%;
  border-radius: 5%;
}

.follower {
  width: 33.33%;
  padding-left: 10%;
  text-align: left;
}

.button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(rgb(238, 74, 74), rgb(244, 79, 79));
  font-weight: 400;
  padding: 15px 25px;
  border-radius: 6px;
}
footer {
  color: cornsilk;
  background-color: black;
  text-align: center;
  padding: 5%;
  background-size: cover;


}
.full_img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.self-image4{
  background-image: url("Flower Asset/Rectangle 9.png");
}
#box{
  border-radius: 10px;
  border:none;
  height:60px;
  width: 500px;
  font-size:14pt;
}
.write{
  width: 33.33%;
 
  text-align: center;
  padding-bottom: 0%;
}
.follower {
  width: 33.33%;
  padding-left: 10%;
  text-align: left;
}
.fourth-section {
  display: flex;
  margin: 10% 10%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  background-color: rgb(226, 197, 243);
  border-radius: 3%;
}